# Formula dari IMDB dengan Weighted Rating

![image.png]()

dimana,

v: jumlah votes untuk film tersebut

m: jumlah minimum votes yang dibutuhkan supaya dapat masuk dalam chart

R: rata-rata rating dari film tersebut

C: rata-rata jumlah votes dari seluruh semesta film

# [Import Library dan File Unloading](https://academy.dqlab.id/main/projectcode/212/378/1876?pr=)

In [ ]:
#import library yang dibutuhkan
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

#lakukan pembacaan dataset
movie_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.basics.tsv', sep='\t') #untuk menyimpan title_basics.tsv
rating_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.ratings.tsv', sep='\t') #untuk menyimpan title.ratings.tsv

# [5 Data teratas dari table movie](https://academy.dqlab.id/main/livecode/212/379/1877?pr=)

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

movie_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.basics.tsv', sep='\t')

print(movie_df.head())

      tconst  titleType                                      primaryTitle  \
0  tt0221078      short                         Circle Dance, Ute Indians
1  tt8862466  tvEpisode  ¡El #TeamOsos va con todo al "Reality del amor"!
2  tt7157720  tvEpisode                                     Episode #3.41
3  tt2974998  tvEpisode                         Episode dated 16 May 1987
4  tt2903620  tvEpisode                  Frances Bavier: Aunt Bee Retires

                                      originalTitle  isAdult startYear  \
0                         Circle Dance, Ute Indians        0      1898
1  ¡El #TeamOsos va con todo al "Reality del amor"!        0      2018
2                                     Episode #3.41        0      2016
3                         Episode dated 16 May 1987        0      1987
4                  Frances Bavier: Aunt Bee Retires        0      1973

  endYear runtimeMinutes             genres
0      \N             \N  Documentary,Short
1      \N             \N       Comedy,Drama
2      \N             29   Comedy,Game-Show
3      \N             \N               News
4      \N             \N        Documentary

# [Info Data dari Setiap Kolom](https://academy.dqlab.id/main/livecode/212/379/1922?pr=)

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

movie_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.basics.tsv', sep='\t')

print(movie_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9025 entries, 0 to 9024
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          9025 non-null   object
 1   titleType       9025 non-null   object
 2   primaryTitle    9011 non-null   object
 3   originalTitle   9011 non-null   object
 4   isAdult         9025 non-null   int64
 5   startYear       9025 non-null   object
 6   endYear         9025 non-null   object
 7   runtimeMinutes  9025 non-null   object
 8   genres          9014 non-null   object
dtypes: int64(1), object(8)
memory usage: 634.7+ KB
None

# [Pengecekan Data dengan Nilai NULL](https://academy.dqlab.id/main/livecode/212/379/1923?pr=)

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

movie_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.basics.tsv', sep='\t')

print(movie_df.isnull().sum())

tconst             0
titleType          0
primaryTitle      14
originalTitle     14
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            11
dtype: int64

# [Analisis Kolom dengan data bernilai NULL - part 1](https://academy.dqlab.id/main/livecode/212/379/1931?pr=)

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

movie_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.basics.tsv', sep='\t')

print(movie_df.loc[(movie_df['primaryTitle'].isnull())|(movie_df['originalTitle'].isnull())])

          tconst  titleType primaryTitle originalTitle  isAdult startYear  \
9000  tt10790040  tvEpisode          NaN           NaN        0      2019
9001  tt10891902  tvEpisode          NaN           NaN        0      2020
9002  tt11737860  tvEpisode          NaN           NaN        0      2020
9003  tt11737862  tvEpisode          NaN           NaN        0      2020
9004  tt11737866  tvEpisode          NaN           NaN        0      2020
9005  tt11737872  tvEpisode          NaN           NaN        0      2020
9006  tt11737874  tvEpisode          NaN           NaN        0      2020
9007   tt1971246  tvEpisode          NaN           NaN        0      2011
9008   tt2067043  tvEpisode          NaN           NaN        0      1965
9009   tt4404732  tvEpisode          NaN           NaN        0      2015
9010   tt5773048  tvEpisode          NaN           NaN        0      2015
9011   tt8473688  tvEpisode          NaN           NaN        0      1987
9012   tt8541336  tvEpisode          NaN           NaN        0      2018
9013   tt9824302  tvEpisode          NaN           NaN        0      2016

     endYear runtimeMinutes                genres
9000      \N             \N                    \N
9001      \N             \N                 Crime
9002      \N             \N  Comedy,Drama,Romance
9003      \N             \N  Comedy,Drama,Romance
9004      \N             \N  Comedy,Drama,Romance
9005      \N             \N                    \N
9006      \N             \N  Comedy,Drama,Romance
9007      \N             \N             Biography
9008      \N             \N                 Music
9009      \N             \N                Comedy
9010      \N             \N             Talk-Show
9011      \N             \N                 Drama
9012      \N             \N    Reality-TV,Romance
9013      \N             \N           Documentary

# [Membuang Data dengan Nilai NULL - part 1](https://academy.dqlab.id/main/livecode/212/379/1932?pr=)

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

movie_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.basics.tsv', sep='\t')

#mengupdate movie_df dengan membuang data-data bernilai NULL
movie_df = movie_df.loc[(movie_df['primaryTitle'].notnull())&(movie_df['originalTitle'].notnull())]

#menampilkan jumlah data setelah data dengan nilai NULL dibuang
print(len(movie_df))

9011

# [Analisis Kolom dengan data bernilai NULL - part 2](https://academy.dqlab.id/main/livecode/212/379/1933?pr=)

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

movie_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.basics.tsv', sep='\t')

movie_df = movie_df.loc[(movie_df['primaryTitle'].notnull()) & (movie_df['originalTitle'].notnull())]

print(movie_df.loc[movie_df['genres'].isnull()])

          tconst  titleType  \
9014  tt10233364  tvEpisode
9015  tt10925142  tvEpisode
9016  tt10970874  tvEpisode
9017  tt11670006  tvEpisode
9018  tt11868642  tvEpisode
9019   tt2347742  tvEpisode
9020   tt3984412  tvEpisode
9021   tt8740950  tvEpisode
9022   tt9822816  tvEpisode
9023   tt9900062  tvEpisode
9024   tt9909210  tvEpisode

                                           primaryTitle originalTitle  \
9014  Rolling in the Deep Dish\tRolling in the Deep ...             0
9015  The IMDb Show on Location: Star Wars Galaxy's ...             0
9016  Die Bauhaus-Stadt Tel Aviv - Vorbild für die M...             0
9017  ...ein angenehmer Unbequemer...\t...ein angene...             0
9018  GGN Heavyweight Championship Lungs With Mike T...             0
9019  No sufras por la alergia esta primavera\tNo su...             0
9020  I'm Not Going to Come Last, I'm Just Going to ...             0
9021  Weight Loss Resolution Restart - Ins & Outs of...             0
9022  Zwischen Vertuschung und Aufklärung - Missbrau...             0
9023  The Direction of Yuu's Love: Hings Aren't Goin...             0
9024  Politik und/oder Moral - Wie weit geht das Ver...             0

      isAdult startYear endYear          runtimeMinutes genres
9014     2019        \N      \N              Reality-TV    NaN
9015     2019        \N      \N               Talk-Show    NaN
9016     2019        \N      \N                      \N    NaN
9017     1981        \N      \N             Documentary    NaN
9018     2020        \N      \N               Talk-Show    NaN
9019     2004        \N      \N                      \N    NaN
9020     2014        \N      \N              Reality-TV    NaN
9021     2015        \N      \N              Reality-TV    NaN
9022     2019        \N      \N                      \N    NaN
9023     1994        \N      \N  Animation,Comedy,Drama    NaN
9024     2005        \N      \N                      \N    NaN

# [Membuang Data dengan Nilai NULL - part 2](https://academy.dqlab.id/main/livecode/212/379/1934?pr=)

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

movie_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.basics.tsv', sep='\t')

movie_df = movie_df.loc[(movie_df['primaryTitle'].notnull()) & (movie_df['originalTitle'].notnull())]

#mengupdate movie_df dengan membuang data-data bernilai NULL
movie_df = movie_df.loc[movie_df['genres'].notnull()]

#menampilkan jumlah data setelah data dengan nilai NULL dibuang
print(len(movie_df))

9000

# [Mengubah Nilai '\\N'](https://academy.dqlab.id/main/livecode/212/379/1935?pr=)

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

movie_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.basics.tsv', sep='\t')

movie_df = movie_df.loc[(movie_df['primaryTitle'].notnull()) & (movie_df['originalTitle'].notnull())]
movie_df = movie_df.loc[movie_df['genres'].notnull()]

#mengubah nilai '\\N' pada startYear menjadi np.nan dan cast kolomnya menjadi float64
movie_df['startYear'] = movie_df['startYear'].replace('\\N',np.nan)
movie_df['startYear'] = movie_df['startYear'].astype('float64')
print(movie_df['startYear'].unique()[:5])

#mengubah nilai '\\N' pada endYear menjadi np.nan dan cast kolomnya menjadi float64
movie_df['endYear'] = movie_df['endYear'].replace('\\N',np.nan)
movie_df['endYear'] = movie_df['endYear'].astype('float64')
print(movie_df['endYear'].unique()[:5])

#mengubah nilai '\\N' pada runtimeMinutes menjadi np.nan dan cast kolomnya menjadi float64
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].replace('\\N',np.nan)
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].astype('float64')
print(movie_df['runtimeMinutes'].unique()[:5])

[1898. 2018. 2016. 1987. 1973.]
[  nan 2005. 1955. 2006. 1999.]
[nan 29.  7. 23. 85.]

# [Mengubah nilai genres menjadi list](https://academy.dqlab.id/main/livecode/212/379/1936?pr=)

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

movie_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.basics.tsv', sep='\t')

movie_df = movie_df.loc[(movie_df['primaryTitle'].notnull()) & (movie_df['originalTitle'].notnull())]
movie_df = movie_df.loc[movie_df['genres'].notnull()]
movie_df['startYear'] = movie_df['startYear'].replace('\\N', np.nan)
movie_df['startYear'] = movie_df['startYear'].astype('float64')
movie_df['endYear'] = movie_df['endYear'].replace('\\N', np.nan)
movie_df['endYear'] = movie_df['endYear'].astype('float64')
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].replace('\\N', np.nan)
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].astype('float64')

def transform_to_list(x):
    if ',' in x: 
    #ubah menjadi list apabila ada data pada kolom genre
        return x.split(',')
    else: 
    #jika tidak ada data, ubah menjadi list kosong
        return []

movie_df['genres'] = movie_df['genres'].apply(lambda x: transform_to_list(x))

# [Menampilkan 5 data teratas](https://academy.dqlab.id/main/livecode/212/380/1937?pr=)

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

rating_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.ratings.tsv', sep='\t')

print(rating_df.head())

      tconst  averageRating  numVotes
0  tt0000001            5.6      1608
1  tt0000002            6.0       197
2  tt0000003            6.5      1285
3  tt0000004            6.1       121
4  tt0000005            6.1      2050

# [Menampilkan info data](https://academy.dqlab.id/main/livecode/212/380/1938?pr=)

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

rating_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.ratings.tsv', sep='\t')

print(rating_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030009 entries, 0 to 1030008
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1030009 non-null  object
 1   averageRating  1030009 non-null  float64
 2   numVotes       1030009 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 23.6+ MB
None

# [Inner Join table movie dan table rating](https://academy.dqlab.id/main/livecode/212/381/1939?pr=)

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

movie_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.basics.tsv', sep='\t')
rating_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.ratings.tsv', sep='\t')

movie_df = movie_df.loc[(movie_df['primaryTitle'].notnull()) & (movie_df['originalTitle'].notnull())]
movie_df = movie_df.loc[movie_df['genres'].notnull()]
movie_df['startYear'] = movie_df['startYear'].replace('\\N', np.nan)
movie_df['startYear'] = movie_df['startYear'].astype('float64')
movie_df['endYear'] = movie_df['endYear'].replace('\\N', np.nan)
movie_df['endYear'] = movie_df['endYear'].astype('float64')
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].replace('\\N', np.nan)
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].astype('float64')

def transform_to_list(x):
    if ',' in x: 
        return x.split(',')
    else: 
        return []

movie_df['genres'] = movie_df['genres'].apply(lambda x: transform_to_list(x))

#Lakukan join pada kedua table
movie_rating_df = pd.merge(movie_df, rating_df, on='tconst', how='inner')

#Tampilkan 5 data teratas
print(movie_rating_df.head())

#Tampilkan tipe data dari tiap kolom
print(movie_rating_df.info())

      tconst  titleType              primaryTitle             originalTitle  \
0  tt0043745      short                 Lion Down                 Lion Down
1  tt0167491      video         Wicked Covergirls         Wicked Covergirls
2  tt6574096  tvEpisode      Shadow Play - Part 2      Shadow Play - Part 2
3  tt6941700  tvEpisode              RuPaul Roast              RuPaul Roast
4  tt7305674      video  UCLA Track & Field Promo  UCLA Track & Field Promo

   isAdult  startYear  endYear  runtimeMinutes  \
0        0     1951.0      NaN             7.0
1        1     1998.0      NaN            85.0
2        0     2017.0      NaN            22.0
3        0     2017.0      NaN             NaN
4        0     2017.0      NaN             NaN

                           genres  averageRating  numVotes
0     [Animation, Comedy, Family]            7.1       459
1                              []            5.7         7
2  [Adventure, Animation, Comedy]            8.5       240
3                              []            8.0        11
4                  [Short, Sport]            9.7         7
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1376 entries, 0 to 1375
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          1376 non-null   object
 1   titleType       1376 non-null   object
 2   primaryTitle    1376 non-null   object
 3   originalTitle   1376 non-null   object
 4   isAdult         1376 non-null   int64
 5   startYear       1376 non-null   float64
 6   endYear         26 non-null     float64
 7   runtimeMinutes  1004 non-null   float64
 8   genres          1376 non-null   object
 9   averageRating   1376 non-null   float64
 10  numVotes        1376 non-null   int64
dtypes: float64(4), int64(2), object(5)
memory usage: 129.0+ KB
None

# [Memperkecil ukuran Table](https://academy.dqlab.id/main/livecode/212/381/1940?pr=)

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

movie_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.basics.tsv', sep='\t')
rating_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.ratings.tsv', sep='\t')

movie_df = movie_df.loc[(movie_df['primaryTitle'].notnull()) & (movie_df['originalTitle'].notnull())]
movie_df = movie_df.loc[movie_df['genres'].notnull()]
movie_df['startYear'] = movie_df['startYear'].replace('\\N', np.nan)
movie_df['startYear'] = movie_df['startYear'].astype('float64')
movie_df['endYear'] = movie_df['endYear'].replace('\\N', np.nan)
movie_df['endYear'] = movie_df['endYear'].astype('float64')
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].replace('\\N', np.nan)
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].astype('float64')

def transform_to_list(x):
    if ',' in x: 
        return x.split(',')
    else: 
        return []

movie_df['genres'] = movie_df['genres'].apply(lambda x: transform_to_list(x))

movie_rating_df = pd.merge(movie_df, rating_df, on='tconst', how='inner')
movie_rating_df = movie_rating_df.dropna(subset=['startYear','runtimeMinutes'])

#Untuk memastikan bahwa sudah tidak ada lagi nilai NULL
print(movie_rating_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1004 entries, 0 to 1374
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          1004 non-null   object
 1   titleType       1004 non-null   object
 2   primaryTitle    1004 non-null   object
 3   originalTitle   1004 non-null   object
 4   isAdult         1004 non-null   int64
 5   startYear       1004 non-null   float64
 6   endYear         17 non-null     float64
 7   runtimeMinutes  1004 non-null   float64
 8   genres          1004 non-null   object
 9   averageRating   1004 non-null   float64
 10  numVotes        1004 non-null   int64
dtypes: float64(4), int64(2), object(5)
memory usage: 94.1+ KB
None

# [Pertanyaan 1: Berapa nilai C?](https://academy.dqlab.id/main/livecode/212/382/1941?pr=)

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

movie_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.basics.tsv', sep='\t')
rating_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.ratings.tsv', sep='\t')

movie_df = movie_df.loc[(movie_df['primaryTitle'].notnull()) & (movie_df['originalTitle'].notnull())]
movie_df = movie_df.loc[movie_df['genres'].notnull()]
movie_df['startYear'] = movie_df['startYear'].replace('\\N', np.nan)
movie_df['startYear'] = movie_df['startYear'].astype('float64')
movie_df['endYear'] = movie_df['endYear'].replace('\\N', np.nan)
movie_df['endYear'] = movie_df['endYear'].astype('float64')
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].replace('\\N', np.nan)
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].astype('float64')

def transform_to_list(x):
    if ',' in x: 
        return x.split(',')
    else: 
        return []

movie_df['genres'] = movie_df['genres'].apply(lambda x: transform_to_list(x))

movie_rating_df = pd.merge(movie_df, rating_df, on='tconst', how='inner')
movie_rating_df = movie_rating_df.dropna(subset=['startYear','runtimeMinutes'])

C = movie_rating_df['averageRating'].mean()
print(C)

6.829581673306767

# [Pertanyaan 2: Berapa nilai m?](https://academy.dqlab.id/main/livecode/212/382/1942?pr=)

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

movie_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.basics.tsv', sep='\t')
rating_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.ratings.tsv', sep='\t')

movie_df = movie_df.loc[(movie_df['primaryTitle'].notnull()) & (movie_df['originalTitle'].notnull())]
movie_df = movie_df.loc[movie_df['genres'].notnull()]
movie_df['startYear'] = movie_df['startYear'].replace('\\N', np.nan)
movie_df['startYear'] = movie_df['startYear'].astype('float64')
movie_df['endYear'] = movie_df['endYear'].replace('\\N', np.nan)
movie_df['endYear'] = movie_df['endYear'].astype('float64')
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].replace('\\N', np.nan)
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].astype('float64')

def transform_to_list(x):
    if ',' in x: 
        return x.split(',')
    else: 
        return []

movie_df['genres'] = movie_df['genres'].apply(lambda x: transform_to_list(x))

movie_rating_df = pd.merge(movie_df, rating_df, on='tconst', how='inner')
movie_rating_df = movie_rating_df.dropna(subset=['startYear','runtimeMinutes'])

m = movie_rating_df['numVotes'].quantile(0.8)
print(m)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

229.0

# [Pertanyaan 3: Bagaimana cara membuat fungsi weighted formula?](https://academy.dqlab.id/main/projectcode/212/382/1943?pr=)

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

movie_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.basics.tsv', sep='\t')
rating_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.ratings.tsv', sep='\t')

movie_df = movie_df.loc[(movie_df['primaryTitle'].notnull()) & (movie_df['originalTitle'].notnull())]
movie_df = movie_df.loc[movie_df['genres'].notnull()]
movie_df['startYear'] = movie_df['startYear'].replace('\\N', np.nan)
movie_df['startYear'] = movie_df['startYear'].astype('float64')
movie_df['endYear'] = movie_df['endYear'].replace('\\N', np.nan)
movie_df['endYear'] = movie_df['endYear'].astype('float64')
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].replace('\\N', np.nan)
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].astype('float64')

def transform_to_list(x):
    if ',' in x: 
        return x.split(',')
    else: 
        return []

movie_df['genres'] = movie_df['genres'].apply(lambda x: transform_to_list(x))

movie_rating_df = pd.merge(movie_df, rating_df, on='tconst', how='inner')
movie_rating_df = movie_rating_df.dropna(subset=['startYear','runtimeMinutes'])

def imdb_weighted_rating(df, var=0.8):
    v = df['numVotes']
    R = df['averageRating']
    C = df['averageRating'].mean()
    m = df['numVotes'].quantile(var)
    df['score'] = (v/(m+v))*R + (m/(m+v))*C #Rumus IMDb 
    return df['score']
    
imdb_weighted_rating(movie_rating_df)

#melakukan pengecekan dataframe
print(movie_rating_df.head())

      tconst  titleType          primaryTitle         originalTitle  isAdult  \
0  tt0043745      short             Lion Down             Lion Down        0
1  tt0167491      video     Wicked Covergirls     Wicked Covergirls        1
2  tt6574096  tvEpisode  Shadow Play - Part 2  Shadow Play - Part 2        0
5  tt2262289      movie               The Pin               The Pin        0
6  tt0874027  tvEpisode         Episode #32.9         Episode #32.9        0

   startYear  endYear  runtimeMinutes                          genres  \
0     1951.0      NaN             7.0     [Animation, Comedy, Family]
1     1998.0      NaN            85.0                              []
2     2017.0      NaN            22.0  [Adventure, Animation, Comedy]
5     2013.0      NaN            85.0                              []
6     2006.0      NaN            29.0       [Comedy, Game-Show, News]

   averageRating  numVotes     score
0            7.1       459  7.009992
1            5.7         7  6.796077
2            8.5       240  7.684380
5            7.7        27  6.921384
6            8.0         8  6.869089

# [Pertanyaan 4: Bagaimana cara membuat simple recommender system?](https://academy.dqlab.id/main/projectcode/212/382/1944?pr=)

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

movie_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.basics.tsv', sep='\t')
rating_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.ratings.tsv', sep='\t')

movie_df = movie_df.loc[(movie_df['primaryTitle'].notnull()) & (movie_df['originalTitle'].notnull())]
movie_df = movie_df.loc[movie_df['genres'].notnull()]
movie_df['startYear'] = movie_df['startYear'].replace('\\N', np.nan)
movie_df['startYear'] = movie_df['startYear'].astype('float64')
movie_df['endYear'] = movie_df['endYear'].replace('\\N', np.nan)
movie_df['endYear'] = movie_df['endYear'].astype('float64')
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].replace('\\N', np.nan)
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].astype('float64')

def transform_to_list(x):
    if ',' in x: 
        return x.split(',')
    else: 
        return []

movie_df['genres'] = movie_df['genres'].apply(lambda x: transform_to_list(x))

movie_rating_df = pd.merge(movie_df, rating_df, on='tconst', how='inner')
movie_rating_df = movie_rating_df.dropna(subset=['startYear','runtimeMinutes'])

C = movie_rating_df['averageRating'].mean()
m = movie_rating_df['numVotes'].quantile(0.8)

def imdb_weighted_rating(df, var=0.8):
    v = df['numVotes']
    R = df['averageRating']
    C = df['averageRating'].mean()
    m = df['numVotes'].quantile(var)
    df['score'] = (v/(m+v))*R + (m/(m+v))*C
    return df['score']
    
imdb_weighted_rating(movie_rating_df)

def simple_recommender(df, top=100):
    df = df.loc[df['numVotes'] >= m]
    df = df.sort_values(by='score',ascending=False) #urutkan dari nilai tertinggi ke terendah
    
    #Ambil data 100 teratas
    df = df[:top]
    return df
    
#Ambil data 25 teratas     
print(simple_recommender(movie_rating_df, top=25))

         tconst  titleType                                   primaryTitle  \
68    tt4110822  tvEpisode                                  S.O.S. Part 2
236   tt2200252      video                    Attack of the Clones Review
1181  tt7697962  tvEpisode            Chapter Seventeen: The Missionaries
326   tt7124590  tvEpisode            Chapter Thirty-Four: Judgment Night
1045  tt0533506  tvEpisode                                       The Prom
71    tt8399426  tvEpisode                                        Savages
1234  tt2843830  tvEpisode                                          VIII.
1087  tt4295140   tvSeries                                   Chef's Table
1054  tt2503932  tvEpisode                                Trial and Error
448   tt0337566      video                       AC/DC: Live at Donington
624   tt0620159  tvEpisode                                     Strike Out
1281  tt3166390  tvEpisode                         Looking for a Plus-One
314   tt0954759  tvEpisode                                   Ben Franklin
189   tt5661506      video            Florence + the Machine: The Odyssey
151   tt3954426  tvEpisode                                Bleeding Kansas
1344  tt6644294  tvEpisode                 The Hostile Hospital: Part Two
1242  tt3677742  tvSpecial  Saturday Night Live: 40th Anniversary Special
1217  tt3642464  tvEpisode                                    Giant Woman
544   tt0734655  tvEpisode                              The Little People
49    tt9119838  tvEpisode                      Parisian Legend Has It...
357   tt4084774  tvEpisode                           Trial and Punishment
1111  tt4174072  tvEpisode                     Immortal Emerges from Cave
790   tt4279086  tvEpisode                       And Santa's Midnight Run
972   tt0048028      movie                                   East of Eden
819   tt0032156      movie            The Story of the Last Chrysanthemum

                                      originalTitle  isAdult  startYear  \
68                                    S.O.S. Part 2        0     2015.0
236                     Attack of the Clones Review        0     2010.0
1181            Chapter Seventeen: The Missionaries        0     2019.0
326             Chapter Thirty-Four: Judgment Night        0     2018.0
1045                                       The Prom        0     1999.0
71                                          Savages        0     2018.0
1234                                          VIII.        0     2014.0
1087                                   Chef's Table        0     2015.0
1054                                Trial and Error        0     2013.0
448                        AC/DC: Live at Donington        0     1992.0
624                                      Strike Out        0     2000.0
1281                         Looking for a Plus-One        0     2014.0
314                                    Ben Franklin        0     2007.0
189             Florence + the Machine: The Odyssey        0     2016.0
151                                 Bleeding Kansas        0     2014.0
1344                 The Hostile Hospital: Part Two        0     2018.0
1242  Saturday Night Live: 40th Anniversary Special        0     2015.0
1217                                    Giant Woman        0     2014.0
544                               The Little People        0     1962.0
49                        Parisian Legend Has It...        0     2019.0
357                            Trial and Punishment        0     2015.0
1111                     Immortal Emerges from Cave        0     2017.0
790                        And Santa's Midnight Run        0     2014.0
972                                    East of Eden        0     1955.0
819                              Zangiku monogatari        0     1939.0

      endYear  runtimeMinutes                          genres  averageRating  \
68        NaN            43.0      [Action, Adventure, Drama]            9.4
236       NaN            86.0                              []            9.3
1181      NaN            54.0        [Drama, Fantasy, Horror]            9.2
326       NaN            42.0         [Crime, Drama, Mystery]            9.1
1045      NaN            60.0        [Action, Drama, Fantasy]            8.9
71        NaN            58.0       [Drama, Fantasy, Romance]            9.0
1234      NaN            57.0              [Adventure, Drama]            8.9
1087      NaN            50.0                              []            8.6
1054      NaN            43.0        [Drama, Fantasy, Horror]            8.6
448       NaN           120.0            [Documentary, Music]            8.5
624       NaN            30.0                              []            8.7
1281      NaN            28.0        [Comedy, Drama, Romance]            8.7
314       NaN            21.0                              []            8.1
189       NaN            49.0                              []            8.8
151       NaN            42.0                [Drama, Western]            8.6
1344      NaN            40.0      [Adventure, Comedy, Drama]            8.3
1242      NaN           106.0                              []            8.1
1217      NaN            11.0  [Adventure, Animation, Comedy]            8.4
544       NaN            25.0        [Drama, Fantasy, Horror]            8.1
49        NaN            42.0                              []            8.9
357       NaN            56.0              [Adventure, Drama]            8.8
1111      NaN            53.0      [Action, Adventure, Crime]            8.0
790       NaN            42.0     [Action, Adventure, Comedy]            8.2
972       NaN           118.0                              []            7.9
819       NaN           143.0                [Drama, Romance]            7.9

      numVotes     score
68        3820  9.254624
236       1411  8.955045
1181      1536  8.892450
326       1859  8.850993
1045      2740  8.740308
71        1428  8.700045
1234      1753  8.660784
1087     12056  8.566998
1054      2495  8.451165
448       1343  8.256663
624        401  8.020118
1281       396  8.014679
314       2766  8.002863
189        330  7.992798
151        437  7.991253
1344       812  7.976536
1242      1931  7.965312
1217       566  7.947641
544       1559  7.937290
49         263  7.936330
357        289  7.928908
1111      2898  7.914287
790        823  7.901687
972      38543  7.893678
819       2974  7.823470

# [Pertanyaan 5: Bagaimana cara membuat simple recommender system dengan user preferences?](https://academy.dqlab.id/main/projectcode/212/382/1945?pr=)

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

movie_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.basics.tsv', sep='\t')
rating_df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/title.ratings.tsv', sep='\t')

movie_df = movie_df.loc[(movie_df['primaryTitle'].notnull()) & (movie_df['originalTitle'].notnull())]
movie_df = movie_df.loc[movie_df['genres'].notnull()]
movie_df['startYear'] = movie_df['startYear'].replace('\\N', np.nan)
movie_df['startYear'] = movie_df['startYear'].astype('float64')
movie_df['endYear'] = movie_df['endYear'].replace('\\N', np.nan)
movie_df['endYear'] = movie_df['endYear'].astype('float64')
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].replace('\\N', np.nan)
movie_df['runtimeMinutes'] = movie_df['runtimeMinutes'].astype('float64')

def transform_to_list(x):
    if ',' in x: 
        return x.split(',')
    else: 
        return []

movie_df['genres'] = movie_df['genres'].apply(lambda x: transform_to_list(x))

movie_rating_df = pd.merge(movie_df, rating_df, on='tconst', how='inner')
movie_rating_df = movie_rating_df.dropna(subset=['startYear','runtimeMinutes'])

C = movie_rating_df['averageRating'].mean()
m = movie_rating_df['numVotes'].quantile(0.8)

def imdb_weighted_rating(df, var=0.8):
    v = df['numVotes']
    R = df['averageRating']
    C = df['averageRating'].mean()
    m = df['numVotes'].quantile(var)
    df['score'] = (v/(m+v))*R + (m/(m+v))*C
    return df['score']
    
imdb_weighted_rating(movie_rating_df)

def simple_recommender(df, top=100):
    df = df.loc[df['numVotes'] >= m]
    df = df.sort_values(by='score', ascending=False)
    
    #jika kamu hanya ingin mengambil 100 teratas
    df = df[:top]
    return df

df = movie_rating_df.copy()

def user_prefer_recommender(df, ask_adult, ask_start_year, ask_genre, top=100):
    #ask_adult = yes/no
    if ask_adult.lower() == 'yes':
        df = df.loc[df['isAdult'] == 1]
    elif ask_adult.lower() == 'no':
        df = df.loc[df['isAdult'] == 0]

    #ask_start_year = numeric
    df = df.loc[df['startYear'] >= int(ask_start_year)]

    #ask_genre = 'all' atau yang lain
    if ask_genre.lower() == 'all':
        df = df
    else:
        def filter_genre(x):
            if ask_genre.lower() in str(x).lower():
                return True
            else:
                return False
        df = df.loc[df['genres'].apply(lambda x: filter_genre(x))]

    df = df.loc[df['numVotes'] >= m]  #Mengambil film dengan numVotes yang lebih besar atau sama dengan nilai m 
    df = df.sort_values(by='score', ascending=False)
    
    #jika kamu hanya ingin mengambil 100 teratas
    df = df[:top]
    return df

print(user_prefer_recommender(df,
                       ask_adult = 'no',
                        ask_start_year = 2000,
                       ask_genre = 'drama'
                       ))

         tconst  titleType                         primaryTitle  \
68    tt4110822  tvEpisode                        S.O.S. Part 2
1181  tt7697962  tvEpisode  Chapter Seventeen: The Missionaries
326   tt7124590  tvEpisode  Chapter Thirty-Four: Judgment Night
71    tt8399426  tvEpisode                              Savages
1234  tt2843830  tvEpisode                                VIII.
1054  tt2503932  tvEpisode                      Trial and Error
1281  tt3166390  tvEpisode               Looking for a Plus-One
151   tt3954426  tvEpisode                      Bleeding Kansas
1344  tt6644294  tvEpisode       The Hostile Hospital: Part Two
357   tt4084774  tvEpisode                 Trial and Punishment
708   tt2751234  tvEpisode                         Resurrection
605   tt9141176  tvEpisode                59 horas desaparecido
983   tt5063116  tvEpisode                                Shell
1017  tt2206822  tvEpisode                      Vested Interest
73    tt0847785  tvEpisode                          Like It Was
625   tt7348490  tvEpisode                   Forced Perspective
1272  tt0534736  tvEpisode                 Sex, Lies and Larvae
800   tt0901201  tvEpisode                           Crossroads
659   tt3909890  tvEpisode                                Moppa
1170  tt0647504  tvEpisode                        Tainted Fruit
1001  tt2129485  tvEpisode                      A Desperate Man
977   tt4391820  tvEpisode                              Aisling
1096  tt6822518      movie                    Yasamak Güzel Sey
910   tt3348270  tvEpisode                            Bloodline
746   tt0534765  tvEpisode                      You've Got Male
299   tt4527626  tvEpisode                His Troubled Thoughts
509   tt1256301  tvEpisode                           Nine Lives
897   tt2349242  tvEpisode                        The Fifth Man
1090  tt0212815      movie                             Big Eden
109   tt1753383      movie                      A Dog's Purpose
550   tt8163822      short                The Neighbors' Window
834   tt6509862      movie                             Mr. Long
600   tt0329002      movie             Hard Goodbyes: My Father
642   tt0993186  tvEpisode                  Daleks in Manhattan
691   tt3663996  tvEpisode                          Storm Watch
727   tt3563898   tvSeries            Brynhildr in the Darkness
164   tt0464049      movie                     The History Boys
893   tt8858104      movie                         Guava Island
927   tt3663990  tvEpisode                                Pilot
462   tt5197828  tvEpisode                                Right
1068  tt8369852  tvEpisode              I Think We're Alone Now
940   tt0396190      movie                     Return to Sender
610   tt3526706      movie                            Chevalier
1126  tt2151739      movie                Meet Me in Montenegro
637   tt0857275      movie                      Wonderful World
385   tt0472259      movie                       Alone with Her
1014  tt1159705      movie                        Teenage Angst
1043  tt5518756      movie                      The Misandrists
1154  tt1386492      movie                  This Is Not a Movie
492   tt0882806      movie                           Sugar Boxx
922   tt2948790      movie                     Return to Sender
690   tt4477536      movie                   Fifty Shades Freed
677   tt8923408  tvEpisode                          #JinnHunter
1039  tt5227468      movie                        Beiimaan Love
1138  tt1126516      movie              Money Hai Toh Honey Hai
1208  tt3044882      movie                                Nasha
1197  tt3016748      movie                       Jacob's Ladder
846   tt0488164      movie                          Moscow Zero
90    tt0299981    tvMovie               Highlander: The Source

                             originalTitle  isAdult  startYear  endYear  \
68                           S.O.S. Part 2        0     2015.0      NaN
1181   Chapter Seventeen: The Missionaries        0     2019.0      NaN
326    Chapter Thirty-Four: Judgment Night        0     2018.0      NaN
71                                 Savages        0     2018.0      NaN
1234                                 VIII.        0     2014.0      NaN
1054                       Trial and Error        0     2013.0      NaN
1281                Looking for a Plus-One        0     2014.0      NaN
151                        Bleeding Kansas        0     2014.0      NaN
1344        The Hostile Hospital: Part Two        0     2018.0      NaN
357                   Trial and Punishment        0     2015.0      NaN
708                           Resurrection        0     2014.0      NaN
605                  59 horas desaparecido        0     2019.0      NaN
983                                  Shell        0     2016.0      NaN
1017                       Vested Interest        0     2012.0      NaN
73                             Like It Was        0     2006.0      NaN
625                     Forced Perspective        0     2018.0      NaN
1272                  Sex, Lies and Larvae        0     2000.0      NaN
800                             Crossroads        0     2006.0      NaN
659                                  Moppa        0     2014.0      NaN
1170                         Tainted Fruit        0     2001.0      NaN
1001                       A Desperate Man        0     2012.0      NaN
977                                Aisling        0     2019.0      NaN
1096                     Yasamak Güzel Sey        0     2017.0      NaN
910                              Bloodline        0     2014.0      NaN
746                        You've Got Male        0     2001.0      NaN
299                  His Troubled Thoughts        0     2016.0      NaN
509                             Nine Lives        0     2008.0      NaN
897                          The Fifth Man        0     2012.0      NaN
1090                              Big Eden        0     2000.0      NaN
109                        A Dog's Purpose        0     2017.0      NaN
550                  The Neighbors' Window        0     2019.0      NaN
834                                Ryu san        0     2017.0      NaN
600   Dyskoloi apohairetismoi: O babas mou        0     2002.0      NaN
642                    Daleks in Manhattan        0     2007.0      NaN
691                            Storm Watch        0     2014.0      NaN
727                  Gokukoku no Brynhildr        0     2014.0      NaN
164                       The History Boys        0     2006.0      NaN
893                           Guava Island        0     2019.0      NaN
927                                  Pilot        0     2014.0      NaN
462                                  Right        0     2016.0      NaN
1068               I Think We're Alone Now        0     2019.0      NaN
940                       Return to Sender        0     2004.0      NaN
610                              Chevalier        0     2015.0      NaN
1126                 Meet Me in Montenegro        0     2014.0      NaN
637                        Wonderful World        0     2009.0      NaN
385                         Alone with Her        0     2006.0      NaN
1014                         Teenage Angst        0     2008.0      NaN
1043                       The Misandrists        0     2017.0      NaN
1154                   This Is Not a Movie        0     2011.0      NaN
492                             Sugar Boxx        0     2009.0      NaN
922                       Return to Sender        0     2015.0      NaN
690                     Fifty Shades Freed        0     2018.0      NaN
677                            #JinnHunter        0     2019.0      NaN
1039                         Beiimaan Love        0     2016.0      NaN
1138               Money Hai Toh Honey Hai        0     2008.0      NaN
1208                                 Nasha        0     2013.0      NaN
1197                        Jacob's Ladder        0     2019.0      NaN
846                            Moscow Zero        0     2006.0      NaN
90                  Highlander: The Source        0     2007.0      NaN

      runtimeMinutes                       genres  averageRating  numVotes  \
68              43.0   [Action, Adventure, Drama]            9.4      3820
1181            54.0     [Drama, Fantasy, Horror]            9.2      1536
326             42.0      [Crime, Drama, Mystery]            9.1      1859
71              58.0    [Drama, Fantasy, Romance]            9.0      1428
1234            57.0           [Adventure, Drama]            8.9      1753
1054            43.0     [Drama, Fantasy, Horror]            8.6      2495
1281            28.0     [Comedy, Drama, Romance]            8.7       396
151             42.0             [Drama, Western]            8.6       437
1344            40.0   [Adventure, Comedy, Drama]            8.3       812
357             56.0           [Adventure, Drama]            8.8       289
708             43.0       [Crime, Drama, Horror]            8.0      1077
605             48.0     [Crime, Drama, Thriller]            8.1       674
983             32.0              [Comedy, Drama]            8.5       275
1017            43.0       [Comedy, Crime, Drama]            8.0       525
73              43.0     [Comedy, Drama, Mystery]            8.1       405
625             43.0      [Crime, Drama, Mystery]            7.9       413
1272            46.0      [Crime, Drama, Mystery]            7.7       689
800             42.0     [Action, Drama, Mystery]            7.7       654
659             27.0              [Comedy, Drama]            7.8       410
1170            98.0      [Crime, Drama, Mystery]            7.7       538
1001            44.0       [Action, Crime, Drama]            7.7       501
977             51.0      [Crime, Drama, Fantasy]            7.5      1558
1096           101.0              [Comedy, Drama]            7.5      1541
910             44.0     [Drama, Horror, Mystery]            7.7       436
746             45.0      [Crime, Drama, Mystery]            7.6       620
299             59.0     [Crime, Drama, Thriller]            7.5       859
509             44.0       [Action, Crime, Drama]            7.6       501
897             44.0       [Action, Crime, Drama]            7.8       270
1090           118.0     [Comedy, Drama, Romance]            7.3      3906
109            100.0   [Adventure, Comedy, Drama]            7.2     61521
550             21.0               [Drama, Short]            7.2      2222
834            129.0       [Action, Crime, Drama]            7.1       960
600            113.0              [Drama, Family]            7.1       423
642             45.0   [Adventure, Drama, Family]            7.0      4982
691             43.0             [Drama, Romance]            7.0       309
727             22.0   [Action, Animation, Drama]            6.8       733
164            109.0     [Comedy, Drama, Romance]            6.8     19858
893             55.0       [Comedy, Drama, Music]            6.7      7935
927             44.0             [Drama, Romance]            6.6       403
462             42.0      [Crime, Drama, Mystery]            6.5       641
1068            43.0  [Adventure, Drama, Mystery]            6.3       563
940            109.0            [Drama, Thriller]            6.4      2342
610            105.0              [Comedy, Drama]            6.3      3890
1126            90.0     [Comedy, Drama, Romance]            5.8       258
637             89.0             [Drama, Romance]            6.1      2288
385             78.0     [Crime, Drama, Thriller]            6.0      3738
1014            64.0            [Drama, Thriller]            5.3       355
1043            91.0              [Comedy, Drama]            5.1       387
1154            99.0              [Comedy, Drama]            4.6       642
492             86.0               [Crime, Drama]            3.5       229
922             92.0            [Drama, Thriller]            5.1     11434
690            105.0   [Drama, Romance, Thriller]            4.5     50572
677             24.0     [Drama, Fantasy, Horror]            3.6       592
1039           120.0   [Drama, Romance, Thriller]            2.8       374
1138           138.0              [Comedy, Drama]            2.8       527
1208           122.0            [Drama, Thriller]            3.2      1132
1197            89.0     [Drama, Horror, Mystery]            3.4      2065
846             82.0      [Action, Drama, Horror]            3.0      1620
90              86.0   [Action, Adventure, Drama]            3.1      8855

         score
68    9.254624
1181  8.892450
326   8.850993
71    8.700045
1234  8.660784
1054  8.451165
1281  8.014679
151   7.991253
1344  7.976536
357   7.928908
708   7.794774
605   7.777823
983   7.741020
1017  7.644528
73    7.641127
625   7.518184
1272  7.482870
800   7.474263
659   7.452229
1170  7.440123
1001  7.426951
977   7.414087
1096  7.413262
910   7.400262
746   7.392196
299   7.358892
509   7.358321
897   7.354658
1090  7.273948
109   7.198626
550   7.165391
834   7.047918
600   7.005022
642   6.992511
691   6.927461
727   6.807042
164   6.800337
893   6.703635
927   6.683187
462   6.586752
1068  6.453124
940   6.438263
610   6.329443
1126  6.284136
637   6.166378
385   6.047889
1014  5.899785
1043  5.742978
1154  5.186193
492   5.164791
922   5.133960
690   4.510501
677   4.500821
1039  4.330305
1138  4.020601
1208  3.810708
1197  3.742360
846   3.474296
90    3.194020